:root {
    --colorMiseEnValeur : blue;
    --colorFond : beige; 
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width : 800px; 
    margin: 0 auto;
    border : 2px solid var(--colorMiseEnValeur);
    padding : 10px;
}

input {
    border : 2px solid var(--colorMiseEnValeur);
}

button {
    border : 2px solid var(--colorMiseEnValeur);
    color: var(--colorMiseEnValeur);
    background-color: var(--colorFond);
}

span {
    color: var(--colorMiseEnValeur);
    font-weight: 900;
}