* {
    box-sizing: border-box;
}

body {
    background-color: #5C94FC;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 100vh;
}

#rect1 {
    grid-area: 2/2/span 8/ span 8;
    border: solid 5px black;
}

#rect2 {
    grid-area: 2/2/span 2/ span 2;
    background-color: #4976C9;
    border: solid 5px;
    border-bottom: none;

}

#rect3 {
    grid-area: 4/2/span 2/ span 4;
    background-color: #375897;
    border: solid 5px;  
    border-bottom: none;


}

#rect4 {
    grid-area: 6/2/span 2/ span 6;
    background-color: #243B64;
    border-top: none;
    border: solid 5px;
    border-bottom: none;
}

#rect5 {
    grid-area: 8/2/span 2/ span 8;
    background-color: #121D32;
    border: solid 5px;
}